.cards {
  margin-block: 80px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);

  .card {
    padding: 50px;
    background-color: $white;
    border-radius: 16px;

    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(2px);
    //opacity: 0.5;
    transition: 0.6s ease all;

    &:hover {
      transform: perspective(800px) rotateY(-15deg) translateY(-50px)
        rotateX(10deg) scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }
}
