@media (max-width: 768px) {
    .timeline-separator {
        display: none !important;
    }

    .timeline-item {
        flex-direction: column !important;
    }

    .timeline-opposite-content {
        p {
            text-align: left !important;
        }
    }

    .portfolio {
        padding-inline: 0px !important;
    }
}

.timeline-dot {
    border: unset !important;
}

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
