$color-body: #090718;
$white: #fff;
$black: #000;

$purple-heart-50: #edefff;
$purple-heart-100: #dde3ff;
$purple-heart-200: #c2caff;
$purple-heart-300: #9da6ff;
$purple-heart-400: #7778ff;
$purple-heart-500: #6357fd;
$purple-heart-600: #5438f3;
$purple-heart-700: #4428d2;
$purple-heart-800: #3a26ad;
$purple-heart-900: #332788;
$purple-heart-950: #1f174f;
