.btn {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: rem(16px);
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;

    &--primary {
        background-color: $purple;
        color: $white;

        &:hover {
            background-color: darken($purple, 5%);
        }
    }
}
